<h1><%= @trip_detail.name %></h1>

<p>Total to spend today: $<%= @daily_budget %></p>
<p>Days Left: <%= @trip_detail.duration %></p>
<p>Total Budget Left: $<%= @trip_detail.budget %> </p>

<form action="/detail/<%= @trip_detail.id %>/newexpense" method="get">
  <button class="hero-btn">Add expense</button>
</form>

<form action="/edit/<%= @trip_detail.id %>" method="get">
  <button class="hero-btn">Edit trip</button>
</form>
<br>

 <a href="/trips/<%=session[:user_id]%>">Back to trips</a>
