<h1 class="center-align"><%= @trip_object.name %></h1>


<h3>Date Details</h3>
<p>Trip length: <%= @trip_length %></p>
<p>Days Left in trip: <%= @day_of_trip %></p>

<h3>Budget Details</h3>
<p>Original budget: <%= @total_budget %></p>
<p>Balance: <%= @balance %></p>
<p>Daily Allowance: <%= @daily_amount %></p>



<form action="/detail/<%= @trip_object.id %>/newexpense" method="get">
  <button class="waves-effect indigo lighten-3 btn-large">Add expense</button>
</form>

<form action="/edit/<%= @trip_object.id %>" method="get">
  <button class="waves-effect indigo lighten-3 btn-large">Edit trip</button>
</form>
<br>

 <a href="/trips/<%=session[:user_id]%>">Back to trips</a>
