<h1 class="header center-align">Edit <%= @trip_edit.name %></h1>

<div class="row">

  <div class="col s12">

    <form action="/edit/<%= @trip_edit.id %>" method="post">
      <input type="hidden" value="put" name="_method">

      <label>Edit trip name</label>
      <input type="text" name="trip-name" value="<%= @trip_edit.name %>">

      <label>Edit start date</label>
      <input type="text" name="start" value="<%= @start_parsed %>">

      <label>Edit end date</label>
      <input type="text" name="end" value="<%= @end_parsed %>">

      <label>Edit budget</label>
      <input type="number" name="budget" value="<%= @trip_edit.budget %>">

      <button class="waves-effect blue-grey darken-3 btn-large">Edit</button>

    </form>
  </div>

</div>

<form action="/delete/<%= @trip_edit.id %>" method="post">

  <input type="hidden" value="delete" name="_method">
  <button class="waves-effect blue-grey darken-3 btn-large">Delete trip</button>
</form>

<a class="black-text right" href="/detail/<%= @trip_edit.id %>">Cancel</a>
