<h1 class="header center-align">Edit <%= @trip_edit.name %></h1>

<a href="/detail/<%= @trip_edit.id %>">Cancel</a>

<form action="/edit/<%= @trip_edit.id %>" method="post">
  <input type="hidden" value="put" name="_method">

  <label>Edit start date</label>
  <input type="date" name="start" value="<%= @trip_edit.trip_start %>">

  <label>Edit end date</label>
  <input type="date" name="end" value="<%= @trip_edit.trip_end %>">

  <label>Edit budget</label>
  <input type="text" name="budget" value="<%= @trip_edit.budget %>">

  <button class="waves-effect indigo lighten-3 btn-large">Edit</button>

</form>

<form action="/delete/<%= @trip_edit.id %>" method="post">

  <input type="hidden" value="delete" name="_method">
  <button class="waves-effect indigo lighten-3 btn-large">Delete trip</button><br>

</form>
